{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="row">
            {% for k in movie_list %}
            <div class="col-md-3">
                <div class="card" >
  <img class="card-img-top" src="{{k.image.url}}" alt="" height="300">
  <div class="card-body">
    <h5 class="card-title">{{k.name}}</h5>
    <p class="card-text">{{k.desc}}</p>
    <a href="{% url 'moviesapp:detail' k.id %}" class="btn btn-primary">{{k.year}}</a>
  </div>
</div>
            </div>
           {% endfor %}
        </div>
    </div>
</div>


{% endblock %}